/* navbar section CSS*/
#id_name{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* about us */
.aboutbody{
    color: white;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}
.body-one{
    background: linear-gradient(-55deg, #110321, #0c0327, #2f0817, #2d1202,#2b0312);
    color: white;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

.body-two{
   
    background: rgb(29, 24, 33) ;
    /* linear-gradient(-45deg, #a659ff, #7040ff, #ff0d6e, #ff8033,#d74177) */
    color: white;
    text-align: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}
#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.body-three{
    background: linear-gradient(-45deg, #120c0e, #ff8033,#19060d);
    color: white;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

/* about us end*/

.navbar {
    background: linear-gradient(-45deg, #a659ff, #7040ff, #ff0d6e, #ff8033,#d74177);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 30px;
}

.navbar__container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #d4dea0 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;
    
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.3rem;
    height: 100%;
}
.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.3rem;
    width: 100%;
}

.navbar__btn-one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.3rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-image: linear-gradient(to top, #ab64ad 0%, #ff6e0686 100%);
    color: #ffffff;
}

.button-one{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-image: linear-gradient(to top, #ab64ad 0%, #ff6e0686 100%);
    color: #ffffff;
}

.button:hover{
    background: #4387ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #4133ffaf;
    transition: all 0.3s ease;
}

@media screen and ( max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 90%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background:linear-gradient(to top, #7040ffc9, #b60dffae, #b433ffb2,#d74178cb);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
        border-radius: 20px;
    }

    #navbar__logo{
        padding-left: 25px;

    }

    .navbar__toggle .bar{
        width: 20px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffffff;
    }
    .navbar__item{
        width: 100%;
    }

    .navbar__links {
        justify-items: center;
        text-align: center;
        padding:1rem;
        width: 90%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        align-content: center;
        padding-bottom: 0.5rem; 
        width: 90%;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 8px;
        margin: 0;
        
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* hero section CSS */
.main{
    background-color: rgba(34, 31, 31, 0.314);
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #64ad7b1e;
    z-index: 1;
    width: 100%;
    max-width: 1300;
    padding: 0 50px;
}
.main__content h1 {
    font-size: 4rem;
    background-color: #a659ff;
    background-image:  linear-gradient(to top, #9082a0c4 0%,  #a659ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    color: white;
}
.main__content h2 {
    font-size: 4rem;
    background-color: #a659ff;
    background-image:  linear-gradient(to top, tomato 0%,  #a659ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    color: white;
}

#Gettitle{
    font-size: 18px;
    color: aliceblue;
}

/* page body */
body{
    background: linear-gradient(-45deg, #9082a0c4, #140d28bc, #a55172cb, #ff8133a3,#d74177);
}

body img{
    padding: 10px auto;
    margin: 15px auto;
    border-radius: 10px;
}
body video{
    border-radius: 20px;
    width: 300px;
    margin: 15px auto;
}
/* page body */

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffffb7;
}
.main__btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #ab64ad 0%, #ff6e0686 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.25s;
    outline: none;
    
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 99, 71, 0.515);
    transition: all 0.25s;
    border-radius: 50px;
}

.main__btn:hover{
    color: rgb(35, 7, 5);
}

.main__btn:hover::after{
    width: 100%;
}

.main__img__container{
    text-align: center;

}
#main__img{
    height: 80%;
    width: 80%;
}
/* mobile responsive */

@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
    }
    
}

/* services section CSS */
.services{
    background: rgba(34, 31, 31, 0.314);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1{
    background-color: rgba(255, 99, 71, 0.753);
    background-image: linear-gradient(to right, tomato 0%,  #a659ff 0%, #ff8177 21%, #f99185 52% #cf556c #b1285b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    color: white;
}

.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card{
    margin: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-image: linear-gradient(to
    bottom, rgba(0,0,0,0)0%,rgba(17,17,17,0.6)100%),url(/sitting-angry-cartoon-chimp-vector-26658490.jpg)
}
